.title {
  margin: 0;
  font-weight: 700;
  line-height: 1.2;
}

.size_l {
  font-size: 32px;
  margin-bottom: 16px;
}

.size_m {
  font-size: 24px;
  margin-bottom: 12px;
}

.size_s {
  font-size: 18px;
  margin-bottom: 10px;
}
