.paragraph {
  margin: 0;
  line-height: 1.6;
}

.size_l {
  font-size: 18px;
  margin-bottom: 10px;
}

.size_m {
  font-size: 16px;
  margin-bottom: 8px;
}

.size_s {
  font-size: 14px;
  margin-bottom: 6px;
}
